*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
key.jks

# Gradle
.gradle/
**/build/

# VS Code
.vscode/

# Dev Container
.devcontainer/

# Gradle
.gradle/
**/build/

# VS Code
.vscode/

# Dev Container
.devcontainer/
